    .mogo__footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 2rem;
        max-height: 100%;
    }
    
    .footer__item__mogo {
        width: 40%;
        padding-top: 0;
        padding-right: 2rem;
    }
    
    .footer__item__blogs {
        width: 37%;
    }
    
    .footer__item__inst {
        width: 23%;
    }
    /* SUBSCRIBE */
    
    .subscribe {
        width: 100%;
        width: 380px;
        display: flex;
        padding-top: 2.2rem;
    }
    
    input {
        background: #ffffff;
        border: 1px solid #ebebeb;
        width: 230px;
        height: 40px;
        font-family: Roboto, sans-serif;
        font-style: italic;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        padding: 12px;
    }
    
    button {
        background: #95e1d3;
        width: 150px;
        height: 40px;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        border: 0;
        cursor: pointer;
    }
    
    .logo__mogo {
        color: #cccccc;
        font-family: Montserrat;
        font-size: 46px;
        font-weight: 700;
        margin-bottom: 3%;
    }
    
    .follow {
        padding-top: 2rem;
        color: #333333;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
    }
    
    .uppercase {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
    }
    
    .networks {
        color: #95e1d3;
    }
    
    .net {
        margin-left: 15px;
    }
    
    .net__link {
        color: #95e1d3;
    }
    /* BLOGS */
    
    .blogs__cell {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 20rem;
    }
    
    .blogs__item {
        display: flex;
    }
    
    .footer__item__blogs {
        padding-top: 2rem;
        padding-right: 3.5rem;
    }
    
    .blogs__title {
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        color: #333333;
    }
    
    .blogs__text {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
        color: #333333;
        padding-left: 1rem;
    }
    
    .blogs__date {
        color: #999999;
        font-family: "Roboto";
        font-size: 13px;
        font-style: italic;
        font-weight: 400;
        line-height: 24px;
        text-transform: capitalize;
        padding-top: .2rem;
    }
    /* INST */
    
    .footer__item__inst {
        padding-top: 2rem;
    }
    
    .footer__inst {
        padding-bottom: .8rem;
    }
    
    .inst__img {
        margin-bottom: -4px;
    }
    
    .link__photos {
        text-decoration: none;
        transition-property: color;
        color: #333333;
        font-family: "Roboto";
        font-style: italic;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    
    .sign__author {
        color: #333333;
        text-align: center;
    }