@media screen and (max-width: 1280px) {
    .container {
        width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 738px;
    }
    .container__title {
        margin: 13rem auto;
    }
    .banner {
        height: 100vh;
    }
    .nav {
        display: none;
        position: fixed;
        /* top: 0; */
        left: 0;
        right: 0;
        z-index: 1000;
        /* position: absolute; */
        top: 99%;
        /* left: 0;
        margin-right: 0; */
        background-color: #37302b;
        width: 100%;
        transform: translate3d(0, 0, 0);
        padding-left: 22px;
        padding-right: 20px;
        padding-bottom: 10px;
    }
    .nav.active {
        display: block;
    }
    .nav__link {
        display: block;
        margin-left: 0;
        height: 2rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .main-title {
        font-size: 80px;
    }
    .main-suptitle {
        font-size: 52px;
    }
    .text {
        width: 98%;
    }
    .nav-toggle {
        display: block;
    }
    .icon__text {
        top: 44%;
        transform: translate3d(0, -44%, 0);
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    .icon__img__users {
        width: 30px;
        margin: 0 auto 10px;
    }
    .statistic__item {
        height: 12rem;
        padding: 7% 3%;
    }
    .stat__number {
        font-size: 40px;
    }
    .devices {
        padding-top: 0;
        left: 6rem;
    }
    .devices__iphone {
        left: 27rem;
    }
    .wrapper__design {
        height: 52rem;
    }
    .accord__header {
        padding: 0 10px 0 50px;
    }
    .accord__text {
        padding: 1rem 1rem 1rem 1rem;
        font-size: 12px;
        line-height: 16px;
    }
    .accord__icon {
        left: 10px;
        width: 6%;
    }
    .accord__header::after,
    .accord__header::before {
        width: 13px;
        height: 13px;
    }
    .accord__header::before {
        top: 42%;
        transform: translateY(-42%) rotate(135deg);
    }
    .serv__item {
        width: 45%;
    }
    .serv__item__accord {
        width: 55%;
    }
    .accord__item {
        margin-bottom: 4px;
    }
    .suptitle {
        font-size: 22px;
    }
    .title {
        font-size: 26px;
    }
    .icon__img {
        margin-right: 1rem;
    }
    .logos__icon {
        width: 100%;
        margin: 0 auto;
    }
    .section__logos {
        padding: 3rem 4rem;
    }
    .wrapper--logos {
        height: 170px;
    }
    .pic__photo {
        max-width: 176px;
    }
    .work__icon__picture {
        width: 20px;
    }
    .work__title {
        font-size: 12px;
    }
    .work__text {
        font-size: 10px;
    }
    .headerLogoNav {
        width: 738px;
    }
    .photo__cell {
        width: 90px;
    }
    .text__reviews {
        line-height: 1.7;
    }
    .text__title {
        line-height: 2;
    }
    .blog__date {
        padding: 6px;
        top: 53%;
        left: -3%;
        text-align: center;
        line-height: 1;
    }
    .day {
        font-size: 22px;
    }
    .month {
        font-size: 14px;
    }
}

@media screen and (max-width: 76px) {
    .container {
        width: 480px;
    }
    .main-title {
        font-size: 60px;
    }
    .main-suptitle {
        font-size: 32px;
    }
    .suptitle {
        font-size: 18px;
    }
    .title {
        font-size: 22px;
    }
}

@media screen and (max-width: 479px) {
    .container {
        width: 420px;
    }
}


/* Extra Small Devices, Phones */


/* 
@media only screen and (max-width: 480px) {
    .container {
        width: 479px;
    }
} */


/* Large */


/* @media (min-width: 1230px) {
    .container {
        width: 1199px;
    }
    .main-title {
        font-size: 120px;
    }
    .main-suptitle {
        font-size: 52px;
    }
    .nav {
        display: block;
    }
}

@media (max-width: 449px) {
    .container {
        width: 100%;
    }
    .main-title {
        font-size: 40px;
    }
    .main-suptitle {
        font-size: 22px;
    }
    .nav {
        display: none;
    }
} */


/* Mobile */


/* @media (min-width: 450px) {
    .container {
        width: 449px;
    }
    .main-title {
        font-size: 30px;
    }
    .main-suptitle {
        font-size: 12px;
    }
    .nav {
        display: none;
    }
    .suptitle {
        font-size: 18px;
    }
    .title {
        font-size: 22px;
    } */


/* 
@media (min-width: 650px) {
    .container {
        width: 649px;
    }
    .main-title {
        font-size: 60px;
    }
    .main-suptitle {
        font-size: 22px;
    }
    .nav {
        display: none;
    }
    .suptitle {
        font-size: 18px;
    }
    .title {
        font-size: 22px;
    }
} */


/* Small */


/* 
@media (min-width: 768px) {
    .container {
        width: 767px;
    }
    .main-title {
        font-size: 80px;
    }
    .main-suptitle {
        font-size: 32px;
    }
    .nav {
        display: none;
    }
} */


/* Medium */


/* @media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .main-title {
        font-size: 100px;
    }
    .main-suptitle {
        font-size: 42px;
    }
    .nav {
        display: block;
    }
} */