    @media screen and (max-width: 767px) {
        .container {
            max-width: 360px;
        }
        .main-title {
            font-size: 60px;
        }
        .main-suptitle {
            font-size: 32px;
        }
        .headerLogoNav {
            padding: 0;
        }
        .suptitle {
            font-size: 18px;
        }
        .title {
            font-size: 22px;
        }
        .container__title {
            margin: 7rem auto;
        }
        .button {
            font-size: 12px;
            padding: 7px 20px;
            border: solid 2px;
        }
        .main-title:after {
            margin: 30px auto 10px;
        }
        .suptitle {
            margin: 7% auto 10px;
            font-size: 20px;
        }
        .title {
            font-size: 22px;
            ;
        }
        .text {
            font-size: 10px;
            width: 70%;
            line-height: 1.9;
        }
        .icon__img__users {
            width: 11px;
            margin: 0 auto 10px;
        }
        .icon__text {
            top: 32%;
            left: 52%;
            transform: translate3d(-58%, -30%, 0);
            display: flex;
            flex-direction: column;
            font-size: 7px;
        }
        .about__inner:hover .img {
            transform: translate3d(-5px, -5px, 0);
            transition: .1s linear;
        }
        .statistic__item {
            height: 7.2rem;
            padding: 7% 2%;
            width: 20%;
        }
        .stat__number {
            font-size: 24px;
        }
        .stat__text {
            font-size: 11px;
        }
        .cell {
            margin: 10px 10px 20px 10px;
            width: 33.333%;
            display: block;
            text-align: center;
        }
        .icon__img {
            margin-right: 0;
            padding-bottom: .2rem;
        }
        .text__content {
            font-size: 10px;
        }
        .img__item {
            width: 26px;
        }
        .devices {
            width: 70%;
            left: 9%;
        }
        .devices__iphone {
            width: 40%;
            bottom: -12%;
            left: 55%;
        }
        .wrapper__design {
            height: 72vh;
        }
        .servises {
            margin-top: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .serv__item {
            width: 100%;
        }
        .accord {
            margin-left: 0;
        }
        .serv__item__accord {
            width: 100%;
            min-height: 140px;
            margin-top: .7rem
        }
        .wrapper--logos {
            height: 7rem;
        }
        .section__logos {
            padding: 11% 2%;
        }
        .reviews {
            flex-direction: column;
        }
        .blog {
            flex-direction: column;
        }
        .blog__item {
            width: 80%;
            position: relative;
            margin: 0 auto 1rem;
        }
        .header__logo {
            font-size: 24px;
            padding-left: .7rem;
        }
        .nav-toggle {
            right: .7rem;
            width: 30px;
        }
        .slick-arrow:after {
            width: 11px;
            height: 11px;
            border-top: 2px solid #ccc;
            border-right: 2px solid #ccc;
        }
        .quote__icon {
            padding: 1rem;
            width: 5rem;
        }
        .slide__item {
            height: 11rem;
            padding: 1rem 2.6rem;
        }
        .text__map {
            font-size: 13px;
        }
        .quote__text {
            padding: 0 2.8rem 0 1.3rem;
            font-size: 10px;
        }
        .quote__body {
            margin-left: 22%;
        }
        .sign {
            font-size: 14px;
            margin-top: .7rem;
            padding-left: 1rem;
        }
        .sign:before {
            width: 30px;
            height: 2px;
        }
        .wrapper--quote {
            height: 11rem;
        }
        .quote__photo {
            width: 6rem;
        }
        .quote__body-2 {
            margin-left: 27%;
        }
        .title__reviews:after {
            width: 50px;
            height: 2px;
        }
        .reviews__column:last-child {
            padding: 1rem 0 0;
        }
        .reviews {
            padding: .5rem 0 0;
        }
        .reviews__item {
            padding: 0 1rem 1rem;
            margin: 0;
        }
        .reviews__item:last-child {
            padding-bottom: 0;
        }
        .footer__item__mogo {
            width: 40%;
            padding-top: 0;
            padding-right: 2rem;
        }
        .footer__item__blogs {
            width: 37%;
        }
        .footer__item__inst {
            width: 23%;
        }
        .wrapper--photo {
            height: 130px;
        }
        .footer__item__mogo {
            width: 100%;
            padding-top: 0;
            padding-right: 2rem;
            order: 2;
        }
        .footer__item__blogs {
            width: 55%;
            order: 0;
        }
        .footer__item__inst {
            width: 45%;
            order: 1;
        }
        .mogo__footer {
            padding-top: 0;
        }
        .inst__img {
            max-width: 100%;
            padding: 1px;
            margin-bottom: -7px;
        }
        .footer__item__mogo {
            padding-right: 0;
        }
        .blogs__date,
        .blogs__text {
            padding-top: 0;
            font-size: 8px;
            line-height: 12px;
        }
        .blogs__item {
            width: 100%;
        }
        .footer__item__blogs {
            padding-right: .7rem;
        }
        .blogs__title {
            margin-bottom: .7rem;
        }
        .footer__blogs__img {
            width: 80px;
        }
        .blogs__cell {
            height: 12rem;
        }
        .link__photos {
            font-size: 9px;
        }
        .accord__text {
            font-size: 10px;
        }
    }
    
    @media screen and (max-width: 350px) {
        .container {
            max-width: 320px;
        }
        .header__logo {
            font-size: 20px;
        }
        .container__title {
            margin: 4rem auto;
        }
        .main-title {
            font-size: 45px;
        }
        .main-suptitle {
            font-size: 27px;
        }
        .button {
            font-size: 10px;
            padding: 5px 12px;
        }
        .suptitle {
            margin: 7% auto 0;
            font-size: 16px;
        }
        .title {
            font-size: 18px;
        }
        .stat__number {
            font-size: 20px;
        }
        .stat__text {
            font-size: 9px;
        }
        .statistic__item {
            height: 5rem;
            padding: 2% 2%;
            width: 20%;
        }
        .img__item {
            width: 20px;
        }
        .text__title {
            font-size: 9px;
        }
        .icon__img {
            padding-bottom: 0;
        }
        .cell {
            margin: 0px 5px 8px 5px;
        }
        .section__logos {
            padding: 13% 2%;
        }
        .pic__photo {
            max-width: 160px;
        }
        .quote__photo {
            width: 4rem;
        }
        .quote__text {
            padding: 1rem 2.8rem 0 0;
            font-size: 9px;
        }
        .sign {
            font-size: 11px;
            margin-top: 0.1rem;
        }
        .text__map {
            font-size: 11px;
        }
        .footer__blogs__img {
            width: 70px;
        }
        .blogs__text {
            font-size: 7px;
            line-height: 10px;
        }
        .logo__mogo {
            margin: .5rem 0 .5rem;
        }
        .quote__icon {
            padding: 0.7rem;
            width: 4rem;
        }
        .quote__text {
            padding: 1rem 2.8rem 0 10px;
        }
        .wrapper--quote {
            height: 9rem;
        }
        .slide__item {
            height: 8rem;
            padding: 0 2.6rem;
        }
    }