/* PIC */

.pic {
    width: 100%;
    margin-top: 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work__title {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.work__text {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.work__info {
    position: absolute;
}

.pic__column {}

.pic__photo {
    background: linear-gradient(to bottom, #e9d385, #e4857e);
    width: 513px;
    transition: all 0.1 linear;
}

.pic__photo {
    display: block;
    max-width: 100%;
    height: auto;
}