/* SERVISES */

.servises {
    margin-top: 9%;
    display: flex;
}

.serv__item {
    width: 50%;
    min-height: 200px;
}

.serv__item__accord {
    width: 50%;
    min-height: 200px;
}

.what_we_do {
    max-width: 100%;
    height: auto;
}


/* JS */

.accord__icon__arrow {
    position: absolute;
    width: 15px;
    height: 2px;
    color: #999999;
    z-index: 1;
}

.accord {
    margin-left: 2%;
}

.accord__item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
    cursor: pointer;
}

.accord__header {
    padding: 6px 20px 6px 60px;
    position: relative;
    border-bottom: #e5e5e5 1px solid;
}

.accord__text {
    display: none;
    padding: 20px 55px 25px 20px;
    color: #999999;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.accord__header::after,
.accord__header::before {
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    right: 20px;
}

.accord__item.active .accord__header::after {
    content: "";
    display: block;
    top: 60%;
    transform: translateY(-60%) rotate(-45deg);
}

.accord__header::before {
    content: "";
    display: block;
    top: 45%;
    transform: translateY(-45%) rotate(135deg);
}

.accord__item.active .accord__header::before {
    display: none;
}

.accord__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.accord__icon__arrow {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    height: 2px;
    width: 15px;
}


/* QUOTE */

.slick-arrow {
    display: block;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.slick-arrow:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
}

.slick-prev {
    left: 0;
    top: 50%;
    transform: rotate(-135deg);
}

.slick-next {
    right: 0;
    top: 40%;
    transform: rotate(45deg);
}

.wrapper--quote {
    width: 100%;
    background-color: #f8f8f8;
    height: 290px;
    margin-top: 6%;
    position: relative;
}

.quote__item {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.quote__body {
    margin-left: 19%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.quote__icon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border: 3px solid #95e1d3;
    padding: 45px 44px;
}

.quote__text {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    padding-right: 2.8rem;
}

.slide__item {
    /* width: 88%; */
    height: 290px;
    position: absolute;
    top: 0;
    padding: 0 4rem;
}


/* QUOTE 2 */

.quote {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.quote__photo {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.quote__body-2 {
    margin-left: 21%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.wrapper--photo {
    background-color: #ffffff;
    width: 100%;
    height: 290px;
    margin-top: 6%;
}


/* SIGN */

.sign {
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    margin-top: 22px;
}

.sign:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-right: 10px;
}


/* TEAM */

.staff__emp,
.staff__emp__mob {
    margin-top: 1%;
    text-align: center;
}

.staff,
.staff__mob {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 9%;
    padding: 0 -15px;
}

.staff__mob {
    display: none;
}

.text__staff,
.text__staff__mob {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: .5;
    color: #999999;
}

.staff__item,
.staff__item__mob {
    width: 33.3333%;
    padding: 0 6px;
}

.staff__inner {
    background-color: #95e1d3;
    position: relative;
}

.staff__item:hover .img img {
    opacity: 0.1;
    display: block;
}

.staff__item:hover .img {
    transform: translate3d(-10px, -10px, 0);
    transition: .1s linear;
    display: block;
}

.staff__inner__mob {
    position: relative;
}

.share__mob {
    position: absolute;
    top: .5rem;
    right: .5rem;
}

.img {
    position: relative;
    background: linear-gradient(to bottom, #e9d385, #e4857e);
    max-width: 100%;
    display: block;
    transition: all 0.1 linear;
}

.img img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: .3s linear;
}

.share {
    width: 100%;
    font-size: 26px;
    text-align: center;
    position: absolute;
    top: 41%;
    right: 2.5%;
    z-index: 1;
    transition: .1s linear 0;
    opacity: 0;
}

.staff__item:hover .share {
    opacity: 1;
    transition: 0.3s linear;
}


/* FONT AWESOME */

.share__icon {
    display: flex;
    justify-content: center;
}

.share__icon__mob {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.share__icon a {
    color: #f38181;
}

.share__icon__mob a {
    color: #f38181;
}

.share__icon__mob a:active {
    color: #fff;
}

.share__item {
    width: 56px;
    height: 56px;
    padding: 10px;
    background-color: #fce38a;
    border: 1px solid #f38181;
    cursor: pointer;
}


/* FA HOVER */

.share__item:hover {
    background-color: #f38181;
    color: #ffffff;
    transition: 0.1s linear;
}


/* STUFF SUB */

.staff__sub {
    display: flex;
    justify-content: space-around;
}


/* LOGOS */

.logos__icon {
    width: 100%;
    align-items: center;
}

.section__logos {
    margin-top: 6%;
    padding: 4rem 6rem;
}

.wrapper--logos {
    background-color: #f8f8f8;
    height: 270px;
}