/* SERVISES */

.servises {
    margin-top: 9%;
    display: flex;
}

.serv__item {
    width: 50%;
}

.accord {
    border: 1px solid #e5e5e5;
}

.accord__header {
    border: 1px solid #e5e5e5;
}

.text__content--padding {
    padding: 21px 55px 28px 20px;
}

.accord__header {
    display: flex;
}