h3.suptitle,
h2.title {
    color: #333333;
    text-align: center;
}


/* Межстрочный интервал */

.suptitle {
    margin: 9% auto 20px;
    font-size: 24px;
    font-weight: 400;
    font-family: "Kaushan Script";
}

.title {
    margin-top: 2%;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 3% auto 0;
}

.text {
    margin-top: 46px;
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    width: 83%;
    margin: 0 auto;
    text-align: center;
}


/* Увеличить отсупы между картинками, добавить тень*/

.about {
    margin: 9% -7px 0;
    display: flex;
    justify-content: space-between;
    /* position: relative; */
    cursor: pointer;
}


/* ABOUT */

.about__item {
    width: 33.3333%;
    padding: 0 7px;
}

.about__inner {
    position: relative;
    background-color: #95e1d3;
}

.about__inner:hover .img img {
    opacity: 0.1;
}

.about__inner:hover .img {
    transform: translate3d(-10px, -10px, 0);
    transition: .1s linear;
}

.img {
    max-width: 100%;
    background: linear-gradient(to bottom, #e9d385, #e4857e);
    transition: all 0.1 linear;
}

.img img {
    /* display: block; */
    max-width: 100%;
    height: auto;
    transition: .3s linear;
}

.icon__text {
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    transition: .1s linear 0;
    line-height: .8;
    text-align: center;
    position: absolute;
    top: 39%;
    right: 3%;
}

.about__inner:hover .icon__text {
    opacity: 1;
    transition: 0.3s linear;
}


/* STATISTICS */

.statistics {
    margin-top: 6%;
    background-color: #95e1d3;
}

.statistic {
    display: flex;
}

.statistic__item {
    text-align: center;
    line-height: 1.4;
    height: 270px;
    padding: 5% 3%;
    flex: 1 1 0;
    border-right: 1px solid #aee8dd;
}

.statistic__item:first-child {
    border-left: 1px solid #aee8dd;
}

.stat__number {
    color: #ffffff;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
}

.stat__text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.skills__item {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}

.text__title {
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 3;
}

hr {
    color: #f8f8f8;
}

.icon__img {
    margin-top: 2%;
    margin-right: 30px;
}

.cell {
    display: flex;
    margin: 20px 20px 50px 20px;
}

.text__content {
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
}


/* Section DESIGN */

.wrapper__design {
    width: 100%;
    background: url('/home/alinaganich/Рабочий стол/first_landing/img/design/2-layers.png') center no-repeat;
    background-size: cover;
    height: 900px;
}

.design__title {
    margin-top: 7%;
    padding-top: 2%;
}

.pic__dev {}

.devices {
    position: absolute;
    padding-left: 29%;
    bottom: 0;
}

.devices__iphone {
    position: absolute;
    bottom: -12%;
    margin-left: 58%;
}